td.finance,
tr.finance,
input.finance {
    font-family: roboto;
    font-weight: bold;
    color: #FFF;
}

#finance>form>div {
    display: flex;
    justify-content: space-between;
}

#submit_save {
    height: 35px;
    width: 100px;
    font-size: 20px;
    color: #000;
    font-family: roboto;
    font-weight: bold;
    border-radius: 10px/10px;
    background-image: linear-gradient(to left, rgb(170, 9, 9), rgb(206, 219, 24), rgb(10, 170, 71));
    margin-top: 100px;
}

#save,
#spend {
    background-color: cornsilk;
    width: 49%;
    height: 100%;
    border-radius: 10px/10px;
}

h1.finance {
    font-family: roboto;
    font-weight: bold;
    color: rgb(245, 98, 0);
    font-size: 50px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

#current_finance {
    background-color: cornsilk;
    width: 25%;
    height: 21vh;
    border-radius: 10px/10px;
    margin-left: 50px;
}

td.finance,
tr.finance {
    height: 70px;
    line-height: 70px;
}

input#salary,
#save_money,
#spend_money {
    height: 40px;
    width: 80%;
    border-radius: 10px/10px;
    color: #000!important;
}

input#ok_finance {
    color: #000!important;
    border-radius: 10px/10px;
    height: 20%;
    width: 20%;
}

img#pen {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 40%;
    top: 51%;
}

#output_value {
    width: 50%;
    height: 21vh;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}