#load_container {
    width: 80%;
    height: 100vh;
    background-image: url('../images/background.jpg');
}

#load_container>form>div {
    display: flex;
    justify-content: space-between;
}

#IMG_current {
    height: 30vh;
    width: 15%;
    margin-top: 10%;
}

#loadIMG {
    height: 30vh;
    width: 38%;
}

#loadIMG {
    margin-right: 10%;
    display: flex;
    margin-top: 10%;
}

#IMG_current {
    margin-left: 20%;
}

#loadIMG>div {
    height: 100%;
    width: 48%;
}

#IMG_current>img,
#loadIMG>div>img {
    height: 100%;
    width: 100%;
}

#update_IMG {
    margin-top: 10%;
    height: 40px;
    font-size: 20px;
    font-family: roboto;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-radius: 10px/10px;
    background-image: linear-gradient(to left, rgb(170, 9, 9), rgb(206, 219, 24), rgb(10, 170, 71));
}