body {
    margin: 0;
    height: 100%;
}

div#login,
div#register {
    background-image: url('../images/background.jpg');
    height: 100vh;
    width: 60%;
}

div#login_container {
    display: flex;
}

div.banner_left,
div.banner_right {
    width: 20%;
    height: 100vh;
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

th {
    color: rgb(255, 43, 5);
    font-size: 50px;
    line-height: 200px;
    font-weight: bold;
}

tr,
td.th {
    line-height: 40px;
    margin: 10px;
    font-family: roboto;
    font-weight: bold;
    color: rgb(157, 255, 0);
    font-size: 25px;
}

p#error {
    color: rgb(255, 2, 2);
    position: fixed;
    top: 22vh;
    left: 36%;
    font-size: 25px;
    font-weight: bold;
}

input#username,
input#password,
input#Cpassword,
input#email {
    height: 30px;
    border-radius: 10px/15px;
}

input#login,
input#register {
    height: 40px;
    width: 150px;
    font-size: 20px;
    border-radius: 10px/10px;
    color: rgb(20, 4, 110);
    font-weight: bold;
    background-image: linear-gradient(to left, rgb(170, 9, 9), rgb(206, 219, 24), rgb(10, 170, 71));
}